ADDC.Integration.Common/ADDC.Integration.Common.CRM.Schemas/OrganizationService_schemas_datacontract_org_2004_07_Microsoft_Crm_Sdk_Messages.xsd

<?xml version="1.0"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Crm.Sdk.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Crm.Sdk.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessNotificationParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessNotificationParameter" nillable="true" type="tns:BusinessNotificationParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessNotificationParameter" nillable="true" type="tns:ArrayOfBusinessNotificationParameter" />
  <xs:complexType name="BusinessNotificationParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParameterType" type="tns:BusinessNotificationParameterType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessNotificationParameter" nillable="true" type="tns:BusinessNotificationParameter" />
  <xs:simpleType name="BusinessNotificationParameterType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="String" />
      <xs:enumeration value="Attribute" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BusinessNotificationParameterType" nillable="true" type="tns:BusinessNotificationParameterType" />
  <xs:simpleType name="BusinessNotificationSeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Information" />
      <xs:enumeration value="UserDefined" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BusinessNotificationSeverity" nillable="true" type="tns:BusinessNotificationSeverity" />
</xs:schema>