ADDC.Integration.Common/IIS/ADDCIntegration/App_Data/ADDC.Integration.RegisterPayment.Schemas.PageSettings.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://ADDC.Integration.RegisterPayment.Schemas.PageSettings" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://ADDC.Integration.RegisterPayment.Schemas.PageSettings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PageSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element default="1" name="PageNumber" type="xs:short" />
        <xs:element default="5" name="PageSize" type="xs:short" />
        <xs:element name="TotalCount" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>