ADDC.Integration.Common/IIS/ADDCIntegration/App_Data/ADDC.Integration.ViewBillHistory.Schemas.GetBillBreakDownRequest.xsd

<?xml version="1.0"?>
<xs:schema xmlns="http://ADDC.Integration.ViewBillHistory.Schemas.GetBillBreakDownRequest" xmlns:b="http://schemas.microsoft.com/BizTalk/2003" targetNamespace="http://ADDC.Integration.ViewBillHistory.Schemas.GetBillBreakDownRequest" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetBillBreakDownRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="PersonID" type="xs:string" />
        <xs:element name="BillID" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>